<nav>
    <a href="https://webpages.charlotte.edu/vhowert1/" target="_blank">Charlotte Webpage</a>
    <a href="https://github.com/vkhowerton1" target="_blank">GitHub</a>
    <a href="https://github.com/vkhowerton1/vkhowerton1.github.io" target="_blank">GitHub Pages</a>
    <a href="https://vkhowerton1.github.io/itis3135/" target="_blank">GitHub Course Page</a>
    <a href="https://www.freecodecamp.org/vkhowerton" target="_blank">freeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/vkhowerton" target="_blank">Codeacademy</a>
    <a href="https://www.linkedin.com/in/victoria-howerton" target="_blank">LinkedIn</a>
</nav>
<p>Page Designed By <a href="vhdigitalcreations.com/">VH Digital Creations</a> &copy; 2025, <em>Certified in <a href="https://www.freecodecamp.org/certification/vkhowerton/responsive-web-design">Responsive Web Design</a><em>, Certified in <a href="https://www.freecodecamp.org/certification/vkhowerton/javascript-algorithms-and-data-structures-v8">JS Algorithms and Data Structures</a></em></em></p>