<nav>
    <a href="./">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="contract.html">Contract</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="byo_intro.html">BYO Intro</a>
    <a href="project_overview.html">Client Project Overview</a>
    <a href="slideshow.html">Slideshow</a>
    <a href="drawing.html">Interactive Drawing</a>
    <a href="review1.html">Peer Review 1</a>
    <a href="review2.html">Peer Review 2</a>
</nav>
<nav class="secondary-nav">
    <a href="whimsicalpage/index.html">Whimsical Page</a>
    <a href="stuff/MoNeY%20tAlK$.htm">CRAPPY Webpage</a>
    <a href="hobby/index.html">Hobby</a>
    <a href="project/index.html">Client Project</a>
</nav>